#parent{
    width: 340px;
    height: 370px;
    box-shadow: 0px 0px 16px black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
.child{
    width: 100px;
    height: 100px;
    float: left;
    box-shadow: 7px 6px 10px burlywood;
    cursor: pointer;
    /* background-image: url(../images/x.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 91px;
    margin-left: 10px;
    margin-top: 10px;
    user-select: none;
}
#playerCount {
    width: 100%;
    height: 30px;
    box-shadow: 0px 0px 3px black;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
}
.disabled .child {
    background-color: #eeeeee;
    cursor: not-allowed;
}
#winner{
    width: 250px;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 10px black, 2px 2px 5px red;
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px 4px darkred;
    line-height: 100px;
    display: none;
}